# objectives
* to clean up the data
* to find out the number of accidents that have happened 
* to find out how many passangers were injured or killed
* to find out the cause of the crashes
* what is the majour contribution to accidents (pilot error or other)
* airline with most accidents
* country with most accidents
****

# add readme to the file

In [1]:
#importing the necesarry libraries
import pandas as pd
import numpy as np
import json
import csv
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
!ls

AviationData.csv
Aviation_Accident_Database_Project.ipynb
USState_Codes.csv

In [3]:
with open("AviationData.csv") as f:
    reader = csv.reader(f)
    data = list(reader)  
df = pd.DataFrame(data)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
1,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,,,,,...,Personal,,2,0,0,0,UNK,Cruise,Probable Cause,
2,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,,,,,...,Personal,,4,0,0,0,UNK,Unknown,Probable Cause,19-09-1996
3,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,,,...,Personal,,3,,,,IMC,Cruise,Probable Cause,26-02-2007
4,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,,,,,...,Personal,,2,0,0,0,IMC,Cruise,Probable Cause,12-09-2000

In [4]:
codes = pd.read_csv("USState_Codes.csv")
codes.head()

     US_State Abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

## analysing  the dataset and looking for missing values

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88890 entries, 0 to 88889
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       88890 non-null  object
 1   1       88890 non-null  object
 2   2       88890 non-null  object
 3   3       88890 non-null  object
 4   4       88890 non-null  object
 5   5       88890 non-null  object
 6   6       88890 non-null  object
 7   7       88890 non-null  object
 8   8       88890 non-null  object
 9   9       88890 non-null  object
 10  10      88890 non-null  object
 11  11      88890 non-null  object
 12  12      88890 non-null  object
 13  13      88890 non-null  object
 14  14      88890 non-null  object
 15  15      88890 non-null  object
 16  16      88890 non-null  object
 17  17      88890 non-null  object
 18  18      88890 non-null  object
 19  19      88890 non-null  object
 20  20      88890 non-null  object
 21  21      88890 non-null  object
 22  22      88890 non-null  object
 23  23      88890 non-null  object
 24  24      88890 non-null  object
 25  25      88890 non-null  object
 26  26      88890 non-null  object
 27  27      88890 non-null  object
 28  28      88890 non-null  object
 29  29      88890 non-null  object
 30  30      88890 non-null  object
dtypes: object(31)
memory usage: 21.0+ MB

In [6]:
df.shape

(88890, 31)

In [7]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
count,88890,88890,88890,88890,88890,88890,88890,88890,88890,88890,...,88890,88890,88890,88890,88890,88890,88890,88890,88890,88890
unique,87952,3,88864,14783,27760,221,25591,27156,10380,24876,...,28,13593,127,52,59,381,6,14,17078,2926
top,20001212X19172,Accident,DCA22WA214,1984-06-30,"ANCHORAGE, AK",United States,,,,,...,Personal,,0,0,0,0,VMC,,Probable Cause,25-09-2020
freq,3,85015,2,25,434,82248,54507,54516,38375,35994,...,49448,72238,59675,63289,61454,29879,77303,27165,61754,17019

In [8]:
df.isna().sum()
#there are no missing values

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    0
dtype: int64

### AviationData seems to not have a propper title, hence i will have to make the first(0) row into a title row

In [9]:
df.columns #cecking initial column names to confirm

RangeIndex(start=0, stop=31, step=1)

In [10]:
df.columns = df.iloc[0] #replacing the column names with the first row
df.columns #calling to confirm the changes made

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object', name=0)

In [11]:
df.head() #confirming changes

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
1,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,,,,,...,Personal,,2,0,0,0,UNK,Cruise,Probable Cause,
2,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,,,,,...,Personal,,4,0,0,0,UNK,Unknown,Probable Cause,19-09-1996
3,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,,,...,Personal,,3,,,,IMC,Cruise,Probable Cause,26-02-2007
4,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,,,,,...,Personal,,2,0,0,0,IMC,Cruise,Probable Cause,12-09-2000

In [12]:
df = df.drop(0) #dropping the first row as it contained the column titles

In [13]:
df.shape  #previous shape = (88890, 31)

(88889, 31)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88889 entries, 1 to 88889
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88889 non-null  object
 5   Country                 88889 non-null  object
 6   Latitude                88889 non-null  object
 7   Longitude               88889 non-null  object
 8   Airport.Code            88889 non-null  object
 9   Airport.Name            88889 non-null  object
 10  Injury.Severity         88889 non-null  object
 11  Aircraft.damage         88889 non-null  object
 12  Aircraft.Category       88889 non-null  object
 13  Registration.Number     88889 non-null  object
 14  Make                    88889 non-null  object
 15  Model                   88889 non-null  object
 16  Amateur.Built           88889 non-null  object
 17  Number.of.Engines       88889 non-null  object
 18  Engine.Type             88889 non-null  object
 19  FAR.Description         88889 non-null  object
 20  Schedule                88889 non-null  object
 21  Purpose.of.flight       88889 non-null  object
 22  Air.carrier             88889 non-null  object
 23  Total.Fatal.Injuries    88889 non-null  object
 24  Total.Serious.Injuries  88889 non-null  object
 25  Total.Minor.Injuries    88889 non-null  object
 26  Total.Uninjured         88889 non-null  object
 27  Weather.Condition       88889 non-null  object
 28  Broad.phase.of.flight   88889 non-null  object
 29  Report.Status           88889 non-null  object
 30  Publication.Date        88889 non-null  object
dtypes: object(31)
memory usage: 21.7+ MB

# Analysis starts

In [15]:
print(f"there have been {len(df['Accident.Number'].value_counts())} accidents since {minimum_date}")

NameError: name 'minimum_date' is not defined

In [16]:
df["Injury.Severity"].unique

<bound method Series.unique of 1         Fatal(2)
2         Fatal(4)
3         Fatal(3)
4         Fatal(2)
5         Fatal(1)
           ...
88885        Minor
88886
88887    Non-Fatal
88888
88889        Minor
Name: Injury.Severity, Length: 88889, dtype: object>

In [17]:
fatal = df[df["Injury.Severity"] == "Fatal"]
len(fatal)

5262

In [18]:
Minor = df[df["Injury.Severity"] == "Minor"]
len(Minor)

218

In [19]:
Non_Fatal = df[df["Injury.Severity"] == "Non-Fatal"]
len(Non_Fatal)

67357

In [20]:
print(f"there were {len(fatal)} fatal incidents, {len(Minor)} minor injuries and  {len(Non_Fatal)} non fatal injuries in total")

there were 5262 fatal incidents, 218 minor injuries and  67357 non fatal injuries in total

# graph for innjury status

In [21]:
#cause of crash
df['Investigation.Type'].unique()

array(['Accident', 'Incident'], dtype=object)

In [22]:
len(df[df['Investigation.Type'] == 'Accident'])

85015

In [23]:
len(df[df['Investigation.Type'] == 'Incident'])

3874

# pie chart for the data
* resolution---there should be a more detailed report on what cause the acciodent

In [24]:
df['FAR.Description'].head()   #CHECK ON THIS

1
2
3
4
5
Name: FAR.Description, dtype: object

In [25]:
df["Weather.Condition"].unique()

array(['UNK', 'IMC', 'VMC', '', 'Unk'], dtype=object)

unk = unknown or not recorded
vmc = "VMC" stands for Visual Meteorological Conditions. This indicates that the weather conditions are good enough for pilots to operate
imc = "IMC" stands for Instrument Meteorological Conditions. These conditions occur when visibility is poor, typically due to weather factors like heavy clouds, fog, rain, or snow, making it impossible for pilots to rely solely on their vision to navigate. Under

In [26]:
len(df[df["Weather.Condition"] == 'VMC'])

77303

In [27]:
len(df[df["Weather.Condition"] == 'IMC'])

5976

In [28]:
len(df[df["Weather.Condition"] == 'UNK' ])

856

In [29]:
len(df[df["Weather.Condition"] == 'Unk'])

262

# pie chart of data

In [30]:
weather_investigation = df[df["Weather.Condition"] == "VMC"]["Broad.phase.of.flight"]

In [31]:
df["Broad.phase.of.flight"].value_counts()
#majour accidents caused at landing 
#bar graph

               27165
Landing        15428
Takeoff        12493
Cruise         10269
Maneuvering     8144
Approach        6546
Climb           2034
Taxi            1958
Descent         1887
Go-around       1353
Standing         945
Unknown          548
Other            119
Name: Broad.phase.of.flight, dtype: int64

# groupby to compare the data between phase of flight and weather conditions

# recomendations
* train pilots on landing
* record more inflight weather conditions
****

In [38]:
df['Report.Status']

1        Probable Cause
2        Probable Cause
3        Probable Cause
4        Probable Cause
5        Probable Cause
              ...
88885
88886
88887
88888
88889
Name: Report.Status, Length: 88889, dtype: object

In [42]:
df['Country'].value_counts()

United States                    82248
Brazil                             374
Canada                             359
Mexico                             358
United Kingdom                     344
                                 ...
Yemen                                1
Ivory Coast                          1
Albania                              1
St Vincent And The Grenadines        1
Libya                                1
Name: Country, Length: 220, dtype: int64

1
2
3
4
5
                ...
88885
88886
88887
88888    MC CESSNA 210N LLC
88889
Name: Air.carrier, Length: 88889, dtype: object